 /* Preserve the existing CSS styles */
 body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-left: 130px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* Set position relative for absolute positioning */ 
}

.content {
    position: relative;
    top:10px;
    left:40px;
    max-width: 800px;
    height: 350px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow:  5px 5px 10px;

}

.profile-container {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.profile-img {
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 50%;
    object-fit: cover;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 9.9);
    cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.profile-details p {
    margin: 10px 0;
    text-align: justify;
    font-weight: bold;
    color: #333;
    font-size: 18px;
} 

.edit-profile-form {
    margin-top: 20px;
}

.edit-profile-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.modal {
    display: none; 
    position: fixed; 
    align-items: center;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-infocontent {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
}
.modal-imgecontent {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 10%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    background-color: #00BFA6;
}
.btn span:last-child {
    display: none;
}

.btn:hover {
    transition: .4s;
    background-color: #fff;
    color: #00BFA6;
}

.btn:active {
    background-color: #87dbd0;
}
.btn-up{
    padding: 14px 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    background-color: #00BFA6;
}

.btn-up span:last-child {
    display: none;
}

.btn-up:hover {
    transition: .4s;
    background-color: #fff;
    color: #00BFA6;
}

.btn-up:active {
    background-color: #87dbd0;
}
h1{
    padding-left: 140px;
}

.custom-file-upload {
    display: inline-block;
    position: relative;
}

.upload-icon {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    vertical-align: middle;
    margin-right: 5px; /* Adjust the spacing between the icon and text */
}

.file-name {
    vertical-align: middle;
    margin-left: 5px; /* Adjust the spacing between the icon and the file name */
}

.custom-file-upload:hover {
    cursor: pointer;
}

/* Style the file input button */
#profile_image {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*change*/


